html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 18px sans-serif;
	background-color: black;
}
input{
	background-color: greenyellow;
}
*{
	color:greenyellow;
}