html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 18px sans-serif;
	background-color: black;
	text-align: center;
}
input{
	background-color: #39FF14;
	color:black;
	text-align: center;
}
*{
	color:#39FF14;
}